@import "../stepperBase.scss";

chocolatelibui-form-slider {
    $textPadding : 0.2rem;
    $thumbWidth : $unitWidth + 0.4rem + $textPadding;
    $touchThumbWidth : $touchUnitWidth + 0.4rem + $textPadding;

    display: flex;
    flex-direction: column;
    min-width: 14rem;

    .touch & {
        min-width: 18rem;
    }

    >span {
        @include label;
    }

    >div {
        -webkit-user-select: none;
        user-select: none;
        box-sizing: border-box;
        height: $height;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $backColor;
        border-radius: $cornerRadius;
        border: $border;
        box-shadow: $shadowIn;

        .touch & {
            height: $touchHeight;
        }

        >div {
            height: 100%;
            left: calc($height - ($borderThickness * 2));
            width: calc(100% - (($thumbWidth + ($height * 2)) - ($borderThickness * 4)));
            position: absolute;

            .touch & {
                left: calc($touchHeight - ($borderThickness * 2));
                width: calc(100% - (($touchThumbWidth + ($touchHeight * 2)) - ($borderThickness * 4)));
            }

            >div {
                @include valueFont;
                box-sizing: border-box;
                background-color: $backColor;
                border-radius: $cornerRadius;
                border: $border;
                box-shadow: $shadowOut;
                height: $height;
                width: $thumbWidth;
                top: - $borderThickness;
                left: 50%;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                touch-action: none;
                padding-inline: 0.2rem;

                .touch & {
                    height: $touchHeight;
                    width: $touchThumbWidth;
                }

                >span {
                    @include valueFont;
                    box-sizing: border-box;
                    line-height: $valueFontSize;
                    text-align: center;
                    max-width: $thumbWidth - $textPadding * 2;
                    overflow: hidden;

                    .touch & {
                        line-height: $touchValueFontSize;
                        max-width: $touchThumbWidth;
                    }
                }

                >div {
                    @include unitContainer;
                    line-height: $unitFontSize;
                    text-align: center;

                    .touch & {
                        line-height: $touchUnitFontSize;
                    }
                }

                @media(pointer: fine) {
                    outline: none;

                    &:hover {
                        background-color: $hoverColor;
                    }

                    &:focus-visible {
                        box-shadow: $shadowOutFocusOut;
                        z-index: 2;
                    }
                }
            }
        }

        >svg {
            -webkit-user-select: none;
            user-select: none;
            position: relative;
            top: -$borderThickness;
            background-color: $backColor;
            border-radius: $cornerRadius;
            border: $border;
            box-shadow: $shadowOut;
            box-sizing: border-box;
            fill: $textColor;
            height: $height;
            width: $height;
            padding: 0.14rem;
            touch-action: none;

            &:nth-child(2) {
                left: -$borderThickness;
            }

            &:nth-child(3) {
                right: -$borderThickness;
            }

            .touch & {
                height: $touchHeight;
                width: $touchHeight;
                padding: 0.2rem;
            }

            @media(pointer: fine) {
                &:hover {
                    background-color: $hoverColor;
                }

                &:active {
                    box-shadow: $shadowOutActive;
                }
            }
        }
    }
}