@import "../base.scss";

chocolatelibui-form-slider {
    $thumbWidth : 5rem;

    display: flex;
    flex-direction: column;
    min-width: 14rem;

    .touch & {
        min-width: 18rem;
    }

    >span {
        @include label;
    }

    >div {
        box-sizing: border-box;
        height: $height;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $backColor;
        border-radius: $cornerRadius;
        border: $border;
        box-shadow: $shadowIn;

        .touch & {
            height: $touchHeight;
        }

        .anim & {
            transition: height var(--sizeTransitionType) var(--sizeTransitionTime), background-color var(--colorTransitionType) var(--colorTransitionTime);
        }

        >div {
            height: 100%;
            left: ($thumbWidth / 2) + $height;
            width: calc(100% - ($thumbWidth + $height * 2));
            position: absolute;

            .touch & {
                left: ($thumbWidth / 2) + $touchHeight;
                width: calc(100% - ($thumbWidth + $touchHeight * 2));
            }

            >div {
                color: $textColor;
                background-color: $backColor;
                border-radius: $cornerRadius;
                border: $border;
                box-shadow: $shadowOut;
                height: 100%;
                width: 5rem;
                transform: translateX(-50%);
                touch-action: none;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                -webkit-user-select: none;
                user-select: none;
                outline: none;
                line-height: 0.8rem;
                box-sizing: border-box;

                >div {
                    font-size: 0.8rem;
                }

                .anim & {
                    transition: color var(--colorTransitionType) var(--colorTransitionTime), background-color var(--colorTransitionType) var(--colorTransitionTime), box-shadow var(--colorTransitionType) var(--colorTransitionTime);
                }

                &:focus {
                    outline: none;
                }

                @media(pointer: fine) {
                    &:hover {
                        background-color: $hoverColor;
                    }

                    &:focus-visible {
                        box-shadow: $shadowOutFocusOut;
                        z-index: 2;
                    }
                }
            }
        }

        >svg {
            background-color: $backColor;
            border-radius: $cornerRadius;
            border: $border;
            box-shadow: $shadowOut;
            box-sizing: border-box;
            fill: $textColor;
            height: calc($height - 2px);
            width: calc($height - 2px);
            padding: 0.14rem;
            flex-shrink: 0;

            .touch & {
                height: calc($touchHeight - 2px);
                width: calc($touchHeight - 2px);
                padding: 0.2rem;
            }

            .anim & {
                transition: height var(--sizeTransitionType) var(--sizeTransitionTime), max-width var(--sizeTransitionType) var(--sizeTransitionTime), padding var(--sizeTransitionType) var(--sizeTransitionTime), fill var(--colorTransitionType) var(--colorTransitionTime);
            }


            @media(pointer: fine) {
                &:hover {
                    background-color: $hoverColor;
                }

                &:active {
                    box-shadow: $shadowOutActive;
                }
            }
        }
    }
}