@import "../base.scss";

chocolatelibui-form-stepper {
    display: flex;
    flex-direction: column;
    //min-width: 10rem;

    >span {
        @include label;
    }

    >div {
        box-sizing: border-box;
        min-width: min-content;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: $height;
        background-color: $backColor;
        border-radius: $cornerRadius;
        border: $border;
        box-shadow: $shadowIn;
        -webkit-user-select: none;
        user-select: none;
        cursor: ew-resize;
        outline: none;

        .touch & {
            min-width: 14rem;
            height: $touchHeight;
        }

        @media(pointer: fine) {
            &:hover {
                background-color: $hoverColor;
            }

            &:focus-visible {
                box-shadow: $shadowInFocusOut;
            }
        }

        >span {
            color: $textColor;
            outline: none;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline: 0.4rem;
            min-width: 0;

            .touch & {
                font-size: 1.4rem;
            }

            &.scrolling {
                -webkit-user-select: none;
                user-select: none;
            }

            &[unit] {
                &::after {
                    content: attr(unit);
                    width: $unitWidth;
                    color: $textColor;
                    padding-left: 0.4rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        >svg {
            background-color: $backColor;
            border-radius: $cornerRadius;
            border: $border;
            box-shadow: $shadowOut;
            box-sizing: border-box;
            fill: $textColor;
            position: relative;
            height: $height;
            width: $height ;
            top: -$borderThickness;
            padding: 0.14rem;
            flex-shrink: 0;
            pointer-events: all;
            cursor: auto;

            .touch & {
                height: calc($touchHeight - 2px);
                width: calc($touchHeight - 2px);
                padding: 0.2rem;
            }

            .anim & {
                transition: height var(--sizeTransitionType) var(--sizeTransitionTime), max-width var(--sizeTransitionType) var(--sizeTransitionTime), padding var(--sizeTransitionType) var(--sizeTransitionTime), fill var(--colorTransitionType) var(--colorTransitionTime);
            }

            &:first-child {
                left: -$borderThickness;
            }

            &:last-child {
                right: -$borderThickness;
            }

            @media(pointer: fine) {
                &:hover {
                    background-color: $hoverColor;
                }

                &:active {
                    box-shadow: $shadowOutActive;
                    background-color: $hoverColor;
                }
            }
        }
    }
}